body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.chat {
  display: inline-flex;
  padding-top: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow-y: auto;
  margin-top: 5rem !important;
  margin-bottom: 2rem !important;
  flex-grow: 1;
}

.parent {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.flex-child-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.alert {
  background: indianred !important;
  border-color: indianred !important;
  color: white !important;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  overflow-y: auto;
  height: 100%;
  /* padding: 10px; */
}

.message {
  margin-bottom: 10px;
}

.message .user {
  font-weight: bold;
  text-align: right;
}

.message .remove {
  position: absolute;
  width: 22px;
  height: 20px;
  left: -60px;
  /* display: "block", */
  display: none;
  padding: 0;
  line-height: 18px;
  border: "none";
}

.send-message {
  padding: 0;
}

.my-input-text::placeholder {
  color: #ccc;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  min-width: 300px;
  text-align: center;
}
